<div mat-dialog-title>
  <mat-toolbar fxLayout fxLayoutAlign="space-between center">
    <h3><strong>Curso Seleccionado:</strong> {{ title }}</h3>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</div>
<form (ngSubmit)="saveData()" class="form-container">
  <div class="button-container">
    <input type="file"
      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      (change)="csvImport($event)" style="display:none" #fileInput>

    <button mat-raised-button type="button" class="left-button" (click)="fileInput.click()">
      Cargar CSV
    </button>

    <button mat-raised-button color="warn" type="button" class="right-button"
      (click)="registerParticipantes();generateCertificates()">
      Generar Certificados
    </button>
  </div>

  <div class="modal-content-container">
    <cer-table [data]="data" [metaDataColumns]="metaDataColumns">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="alignButton"></td>
      </ng-container>
    </cer-table>

    <cer-paginator (onChangePage)="changePage($event)" [length]="totalRecords">
    </cer-paginator>

    <div id="certificates-section">
      <div *ngFor="let row of data; let i = index" class="certificate-container">
        <div class="certificate" id="certificate-container-{{i}}">
          <img [src]="detalleCursosInstructores.curso.url_plantilla" alt="Certificado">
          <h2>{{ row.nom_pat_par }} {{ row.ape_pat_par }}</h2>
          <div class="container_detalle">
            <p>Por haber aprobado el curso</p>
            <h1>{{detalleCursosInstructores.curso.nom_cur}}</h1>
            <p>Realizado el {{detalleCursosInstructores.curso.fecha_inicio_cur}} , con duración de
              {{detalleCursosInstructores.curso.dur_cur}}</p>
          </div>
          <div class="container_firmas" *ngFor="let instructor of detalleCursosInstructores.instructores">
            <div class="block_firma">
              <img [src]="instructor.url_firma" alt="Firma">
              <h3 class="nombre_firma">{{instructor.nom_pat_inst}}{{instructor.ape_pat_inst}}</h3>
              <p>{{instructor.puesto_inst}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>