<!-- Componente del cuadro de diálogo para edición o creación de un registro relacionado con empleados o instructores -->
<div mat-dialog-title>
  <!-- Barra de herramientas con diseño flexible -->
  <mat-toolbar fxLayout fxLayoutAlign="space-between center">
    <!-- Título dinámico que puede ser pasado como entrada al componente -->
    <h3>{{ title }}</h3>
    <!-- Botón de cierre del cuadro de diálogo -->
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</div>
<!-- Formulario Reactivo de Angular -->
<form [formGroup]="emp_form" (ngSubmit)="saveData()">
  <!-- Contenido del cuadro de diálogo -->
  <div mat-dialog-content class="content">
    <!-- Campo para la cédula del instructor -->
    <mat-form-field class="outline">
      <mat-label>Cédula</mat-label>
      <input
        matInput
        type="text"
        placeholder="Cédula"
        formControlName="ced_inst"
        [readonly]="isEdit"
        maxlength="10"
        (keypress)="onCedulaKeyPress($event)"
      />
      <mat-error
        *ngIf="
          emp_form.get('ced_inst')?.invalid &&
          (emp_form.get('ced_inst')?.dirty || emp_form.get('ced_inst')?.touched)
        "
      >
        {{ getErrorMessage() }}
      </mat-error>

      <mat-icon matSuffix>credit_card</mat-icon>
    </mat-form-field>
    <!-- Sección de nombres y apellidos -->
    <div class="row">
      <mat-form-field class="outline">
        <mat-label>Nombre Paterno</mat-label>
        <input
          matInput
          type="text"
          placeholder="Nombre Paterno"
          formControlName="nom_pat_inst"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field class="outline">
        <mat-label>Nombre Materno</mat-label>
        <input
          matInput
          type="text"
          placeholder="Nombre Materno"
          formControlName="nom_mat_inst"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="outline">
        <mat-label>Apellido Paterno</mat-label>
        <input
          matInput
          type="text"
          placeholder="Apellido Paterno"
          formControlName="ape_pat_inst"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="outline">
        <mat-label>Apellido Materno</mat-label>
        <input
          matInput
          type="text"
          placeholder="Apellido Materno"
          formControlName="ape_mat_inst"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="outline">
        <mat-label>Título</mat-label>
        <mat-select placeholder="" formControlName="tit_inst" multiple>
          <!-- Iterar sobre los grupos de títulos -->
          <ng-container *ngFor="let grupo of tituloGrupo">
            <mat-optgroup [label]="grupo.name">
              <!-- Iterar sobre los títulos dentro de cada grupo -->
              <mat-option
                *ngFor="let titulo of grupo.titulo"
                [value]="titulo.value"
              >
                {{ titulo.viewValue }}
              </mat-option>
            </mat-optgroup>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="outline">
        <mat-label>Puesto</mat-label>
        <mat-select
          placeholder="Selecciona un puesto"
          formControlName="puesto_inst"
        >
          <mat-option *ngFor="let option of puestos" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Sección para cargar un archivo -->
    <div class="row">
      <label for="fileInput" class="custom-upload-btn" color="primary"
        >Subir Archivo</label
      >
      <input type="file" id="fileInput" (change)="capturarFile($event)" />
    </div>
    <!-- Mensaje informativo sobre el formato de la firma -->
    <div class="row file-format-info">
      <span class="info-icon">
        <i class="material-icons">info</i>
      </span>
      <span>
        Para garantizar un procesamiento óptimo, te recomendamos cargar tu firma
        en formato PNG.
      </span>
    </div>
    <!-- Vista previa de la imagen cargada (mostrada si hay una imagen cargada) -->
    <div class="preview-container" *ngIf="previsualizacion">
      <img
        [src]="previsualizacion"
        alt=""
        width="250px"
        height="250px"
        class="imgp"
      />
    </div>
  </div>
  <!-- Acciones del cuadro de diálogo -->
  <div mat-dialog-actions class="action">
    <!-- Botón para cancelar el cuadro de diálogo -->
    <button mat-button color="primary" type="button" mat-dialog-close>
      Cancelar
    </button>
    <!-- Botón para grabar los datos del formulario (habilitado solo si el formulario es válido) -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="emp_form.invalid"
    >
      Grabar
    </button>
  </div>
</form>
