.content {
  padding-top: 10px;
  width: 400px;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.action {
  padding: 0px 25px 20px;
}
.action button {
  flex: 1;
}
mat-toolbar {
  background: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  border-bottom: 1px solid #ccc;
  border-radius: 0px 60px 0px 0px;
}
.mat-form-field {
  width: 100%; /* Hacer que el campo ocupe todo el ancho disponible */
}
