<h1 mat-dialog-title>Detalle del certificado - Variables</h1>
<div mat-dialog-content class="container">
  <ul>
    <li class="li-container">
      <div class="variable-custom" matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over"> <span>{{</span>evento<span>}}</span>
      </div>

    </li>
    <li class="li-container">
      <div class="variable-custom"> <span>{{</span>categoria<span>}}</span></div>

    </li>
    <li class="li-container">
      <div class="variable-custom"> <span>{{</span>duracion<span>}}</span></div>

    </li>
    <li class="li-container">
      <div class="variable-custom"> <span>{{</span>fecha_inicio<span>}}</span></div>

    </li>
    <li class="li-container">
      <div class="variable-custom"> <span>{{</span>fecha_fin<span>}}</span></div>

    </li>
    <li class="li-container">
      <div class="variable-custom"> <span>{{</span>dia_inicio<span>}}</span></div>
    </li>

  </ul>
</div>