mat-toolbar {
  background: #434343;
  min-height: 73px;
}
.profile {
  height: 100%;
}
.profile span {
  color: rgb(255, 255, 255) !important;
}
mat-toolbar mat-icon {
  border-radius: 6px;
}
.profile mat-icon {
  color: rgb(255, 255, 255) !important;
}
