<!-- Contenedor principal con disposición de columna -->
<div fxLayout="column">
  <!-- Proyección de contenido para insertar elementos antes de la tabla -->
  <ng-content></ng-content>
  <!-- Tabla de Angular Material con la directiva mat-table y enlace a una fuente de datos -->
  <table mat-table [dataSource]="data">
    <!-- Itera sobre los metadatos de las columnas para definir las columnas de la tabla -->
    <ng-container [matColumnDef]="metaData.field" *ngFor="let metaData of metaDataColumns">
      <th mat-header-cell *matHeaderCellDef>{{ metaData.title }}</th>
      <td mat-cell *matCellDef="let row">
        <!-- Verificar si el campo es una URL de imagen -->
        <ng-container *ngIf="isImageField(metaData.field); else textData">
          <img [src]="row[metaData.field]" alt="Imagen" class="table-image" />
        </ng-container>
        <ng-template #textData>
          {{ row[metaData.field] }}
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="listFields"></tr>
    <tr mat-row *matRowDef="let row; columns: listFields" class="highLine" [ngClass]="{'disabled': isRowDisabled(row)}"
      [ngStyle]="{ 'background-color': isRowDisabled(row) ? 'lightgrey' : '' }">
    </tr>
  </table>
</div>