<!-- cer-title: Componente personalizado para el título -->
<cer-title></cer-title>
<!-- cer-container: Contenedor principal para la tabla, scrollbar, paginador y teclado numérico -->
<cer-container>
  <!-- ng-scrollbar: Barra de desplazamiento personalizada con altura máxima -->
  <ng-scrollbar class="heightMaxScrollBar">
    <!-- cer-table: Componente personalizado para la tabla con datos y columnas de metadatos -->
    <cer-table [data]="data" [metaDataColumns]="metaDataColumns">
      <!-- ng-container matColumnDef="actions": Definición de columna para acciones -->
      <ng-container matColumnDef="actions">
        <!-- th mat-header-cell: Celda de encabezado para acciones -->
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <!-- td mat-cell: Celda de datos para acciones, incluye botones de editar y eliminar -->
        <td mat-cell *matCellDef="let row" class="alignButton">
          <!-- Botón de edición -->
          <button
            mat-icon-button
            color="primary"
            (click)="openForm(row)"
            matTooltip="EDITAR"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <!-- Botón de eliminación -->
          <button
            mat-icon-button
            color="accent"
            (click)="delete(row.id_cate)"
            matTooltip="ELIMINAR"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </cer-table>
  </ng-scrollbar>
  <!-- cer-paginator: Componente personalizado para el paginador -->
  <cer-paginator (onChangePage)="changePage($event)" [length]="totalRecords">
  </cer-paginator>
</cer-container>
<!-- cer-keypad-button: Componente personalizado para el teclado numérico -->
<cer-keypad-button [keypadButtons]="keypadButtons" (onClick)="doAction($event)">
</cer-keypad-button>
