<mat-sidenav-container autosize="true">
  <mat-sidenav [opened]="abrir" mode="side" *ngIf="isMenuRequired">
    <div class="logo" fxLayout fxLayoutGap="20px" fxLayoutAlign="start center">
      <mat-icon>face</mat-icon>
      <h3 *ngIf="expanded">Sistema de Gestión</h3>
    </div>
    <cer-menu (onToggleExpanded)="toggleExpanded($event)"></cer-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <cer-header *ngIf="isHeaderRequired"></cer-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <cer-modal-certificados></cer-modal-certificados> -->