.container {
  width: 50%;
  height: 80%;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.datos {
  /*  background-color: salmon; */
  /*  opacity: 0.5; */
  width: 100%;
  height: 90%;
  position: absolute;
  margin: 0 auto;
}
.infoGen {
  width: 100%;
  height: 100%;
  /*   background-color: blue; */
  /*   border: 1px solid red; */
  position: relative;
}
.certificadoPlant {
  width: fit-content;
  height: fit-content;
  /* background-color: black; */
}
.certificadoPlant img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.participanteNom {
  position: absolute;
  top: 46%;
  left: 25%;
  width: fit-content;
  height: fit-content;

  /* background-color: red; */
}
.participanteNom h2 {
  font-family: "Pinyon Script", cursive;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin: 0; /* Elimina el margen predeterminado del h2 */
}
.certificadoInfo {
  position: absolute;
  width: 500px;
  top: 55%;
  left: 20%;
  height: fit-content;
  padding-top: 10px;
  /* background-color: green; */
}
.certificadoInfo p {
  font-size: 12px;
  text-align: justify;
  letter-spacing: 001px;
  margin: 0; /* Elimina el margen predeterminado del p */
  line-height: 13px;
}
.fechaHoy {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 68%;
  left: 50%;
  /* background-color: yellow; */
}
.fechaHoy p {
  font-size: 12px;
  text-align: justify;
  letter-spacing: 001px;
  margin: 0; /* Elimina el margen predeterminado del p */
  line-height: 13px;
}
.firma1 {
  position: absolute;
  top: 70%;
  left: 20%;
  width: fit-content;
  height: fit-content;
  /*  background-color: orange; */
}
.firma1 h3,
.firma2 h3 {
  font-size: 15px;
  text-align: center;
  margin: 0; /* Elimina el margen predeterminado del h3 */
}
.firma1 p,
.firma2 p {
  font-size: 12px;
  text-align: center;
  letter-spacing: 001px;
  margin: 0; /* Elimina el margen predeterminado del p */
  line-height: 13px;
}
.firma1 img,
.firma2 img {
  position: relative;
  width: 100px;
  height: auto;
}

.firma2 {
  position: absolute;
  top: 70%;
  left: 70%;
  max-width: 100%;
  width: fit-content;
  height: fit-content;
  /*  background-color: purple; */
}
