.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex; /* Usar flexbox para organizar los elementos hijos */
}

.login {
  /* No es necesario display: flex aquí ya que hereda la propiedad del contenedor principal */
  justify-content: center;
  background: white;
  width: 100%; /* Ajustar según sea necesario */
  height: 100%;
  background-color: rgba(253, 183, 196, 0.2);
}

.informacion img {
  width: 20%;
  height: auto;
}

.informacion h2 {
  font-size: 30px;
  line-height: 2;
  text-align: center;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .informacion h2 {
    font-size: 18px;
    line-height: 2;
    text-align: center;
    padding: 0.8em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 60%;
  }
  .informacion img {
    max-width: 80%;
  }
  .container {
    width: 100%;
    height: 100vh;
  }
}
